.animate{
    width: 3%;
    animation-name: one;
    animation-duration: 10s;
    position: relative;
    animation-iteration-count: infinite;
    transition: 300ms;
}

@keyframes one {
    0%{top:inherit; left:inherit;}
    5%{top:inherit; left:10px;}
    10%{top:inherit; left:20px;}
    15%{top:inherit; left:30px;}
    20%{top: inherit;left: 50px;}
    40%{top: inherit;left: 100px;}
    60%{top: inherit;left: 75px;}
    80%{top: inherit;left: 50px;}
    100%{top: inherit;left: inherit;}
}