*{
    box-sizing: border-box;
}
.products>div{
    /* padding: 20px; */
    border: solid black 2px;

}
.products{
    display: flex;
    align-items: stretch;
     flex-direction: column;
}
.one{
    /* order: 1; */
    flex: 1
}
.two{
    /* order: 2; */
    flex: 2
    
    
}
.three{
    /* order: 3; */
    flex: 3
 
   
}