p{
    color: hsla(0, 40%, 38%, 0.65)
    
}
h1,h3,h4{
    color: rgb(8, 119, 119);
}
.nav{
   background-color: rgb(2, 2, 24);
 
}
table, th, td{
    border: solid black 2px;
    border-collapse: collapse;
    padding: 20px;
}